{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="utf-8" />
  <title>Сервіс Обліку Студентів - {% block meta_title %}{% endblock %}</title>
  <meta name="description" value="Система Обліку Студентів Навчального Закладу" />
  <!-- include styles -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ PORTAL_URL }}{% static "css/main.css" %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/css/bootstrap-datetimepicker.min.css">
  {% block extra_css %}{{ site_path }}{% endblock %}
</head>

<body>

  <!-- Section container -->
  <div class="container">

    <!-- Section header -->
    {% block header %}{% endblock %}
    <!-- End section header -->

    <!-- Section sub-header -->
    {% block subheader %}{% endblock %}
    <!-- End section sub-header -->

    <!-- Section main page content -->
    <div class="row" id="content-columns">
      <div class="col-xs-12" id="content-column">

        <!-- Section message -->
        {% block status_message %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-warning alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endblock %}
        <!-- End section message -->

        <!-- Section title and button -->
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-xs-8 col-sm-8"><h2>{% block title %}{% endblock %}</h2></div>
              <div class="col-xs-4 col-sm-4">{% block action_btn %}{% endblock %}</div>
            </div>
          </div>
        </div>

        {% block content %}{% endblock %}

        <!-- Section pagination -->
        {% block pagination %}{% endblock %}
        <!-- End section pagination -->

      </div>
    </div>
    <!-- End section main page content -->

    <!-- Section footer -->
    {% block footer %}{% endblock %}
    <!-- End section footer -->

  </div>
  <!-- End section container -->

  <!-- Modal Boilerplate -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
       aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"><!-- --></h4>
        </div>
        <div class="modal-body"><!-- --></div>
        <div class="modal-footer"><!-- --></div>
      </div>
    </div>
  </div>

  <!-- JS section -->
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
  <script src="{% static "js/jquery.cookie.js" %}"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/js/bootstrap-datetimepicker.min.js"></script>
  <script src="{% static "js/main.js" %}"></script>
  {% block extra_js %}{% endblock %}

</body>

</html>