{% extends "students/base_elements.html" %}

{% load static from staticfiles %}

{% load crispy_forms_tags %}

{% block meta_title %}

{% if '/add/' in request.path %}
  {{ ADDING }}
{% elif '/edit/' in request.path %}
  {{ EDITING }}
{% endif %}

{% endblock %}

{% block title %}

{% if '/add/' in request.path %}
  {{ ADDING }}
{% elif '/edit/' in request.path %}
  {{ EDITING }}
{% endif %}

{% endblock %}

{% block status_message %}

{% if form.errors %}
<div class="alert alert-warning" role="alert">Будь-ласка, виправте наступні помилки.</div>
{% endif %}

{{ block.super }}

{% endblock %}

{% block content %}

<!-- Exams form -->

{% crispy form form.helper %}

{% endblock %}