{% extends "students/base_elements.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block meta_title %}{% trans "Removing exam" %}{% endblock %}
{% block title %}{% trans "Removing exam" %}{% endblock %}
{% block content %}
<form action={% url "delete_exam" object.id %} method="post">
{% csrf_token %}
<p>{% blocktrans with exam=object.exam_name %}Are you sure you want to delete the exam: {{ exam }}?{% endblocktrans %}</p>
<input type="submit" value="{% trans "Yes" %}" name="delete_button"class="btn btn-danger" />
<a href="{% url "exams" %}" class="btn btn-info">{% trans "No" %}</a>
<br /><br />
</form>

{% endblock %}