{% extends "students/base_elements.html" %}

{% load static from staticfiles %}

{% block meta_title %}Групи{% endblock %}

{% block title %}Список Груп{% endblock %}

{% block action_btn %}<a href="{% url "groups_add" %}" class="btn btn-primary add-btn">Додати групу</a>{% endblock %}

{% block content %}
<table class="table table-hover table-striped">
  {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
  <thead>
    <tr>
      <th>№</th>
      <th>
        <a href="{% if not reverse %}?order_by=title&amp;reverse=1{% else %}?order_by=title{% endif %}">
            Назва
            {% if not order_by and not reverse %}&uarr;
            {% elif order_by == 'title' and reverse != '1' %}&uarr;
            {% elif order_by == 'title' and reverse == '1' %}&darr;
            {% endif %}
        </a>
      </th>
      <th>
        <a href="?order_by=leader{% if order_by == 'leader' and reverse != '1' %}&amp;reverse=1{% endif %}">
          Староста
          {% if order_by == 'leader' and reverse != '1' %}&uarr;
          {% elif order_by == 'leader' and reverse == '1' %}&darr;
          {% endif %}
        </a>
      </th>
      <th>Дії</th>
    </tr>
  </thead>
  {% endwith %}
  <tbody>
  {% for group in group_list %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td><a href="{% url "groups_edit" group.id %}" title="редагувати">{{ group.title }}</a></td>
      <td>
      {% if group.leader_id %}
        <a href="{% url "students_edit" group.leader_id %}" title="регувати">{{ group.leader }}</a>
      {% else %}
        <strong>Немає</strong>
      {% endif %}
      </td>
      <td>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">Дія
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "groups_edit" group.id %}">Редагувати</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/journal">Відвідування</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "groups_delete" group.id %}">Видалити</a></li>
          </ul>
        </div>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% with object_list=group_list %}

{% include "students/pagination.html" %}

{% endwith %}

{% endblock %}