{% extends "students/base_elements.html" %}

{% load static from staticfiles %}

{% block meta_title %}Облік відвідувань{% endblock %}

{% block title %}Облік відвідувань{% endblock %}

{% block content %}
  <div class="month-flipper">
    <a href="#" title="назад">&larr;</a>&nbsp;<strong>Листопад 2014</strong>&nbsp;<a href="#" title="вперед">&rarr;</a>
  </div>
  <table class="table table-hover table-striped table-bordered">
  <thead>
                <tr>
                  <th>№</th>
                  <th>Студент</th>
                  <th>Сб 1</th>
                  <th>Нд 2</th>
                  <th>Пн 3</th>
                  <th>Вт 4</th>
                  <th>Ср 5</th>
                  <th>Чт 6</th>
                  <th>Пт 7</th>
                  <th>Сб 8</th>
                  <th>Нд 9</th>
                  <th>Пн 10</th>
                  <th>Вт 11</th>
                  <th>Ср 12</th>
                  <th>Чт 13</th>
                  <th>Пт 14</th>
                  <th>Сб 15</th>
                  <th>Нд 16</th>
                  <th>Пн 17</th>
                  <th>Вт 18</th>
                  <th>Ср 19</th>
                  <th>Чт 20</th>
                  <th>Пт 21</th>
                  <th>Сб 22</th>
                  <th>Нд 23</th>
                  <th>Пн 24</th>
                  <th>Вт 25</th>
                  <th>Ср 26</th>
                  <th>Чт 27</th>
                  <th>Пт 28</th>
                  <th>Сб 29</th>
                  <th>Нд 30</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td><a href="#">Тяпкін Олександр</a></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value="" checked></td>
                  <td><input type="checkbox" value="" checked></td>
                  <td><input type="checkbox" value="" checked></td>
                  <td><input type="checkbox" value="" checked></td>
                  <td><input type="checkbox" value="" checked></td>
                  <td><input type="checkbox" value="" checked></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""checked></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""checked></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""checked></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""checked></td>
                  <td><input type="checkbox" value=""checked></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""checked></td>
                  <td><input type="checkbox" value=""checked></td>
                  <td><input type="checkbox" value=""checked></td>
                  <td><input type="checkbox" value=""checked></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td><a href="#">Філліп Фрай</a></td>
                  <td><input type="checkbox" value="" checked></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""checked></td>
                  <td><input type="checkbox" value=""checked></td>
                  <td><input type="checkbox" value=""checked></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""checked></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""checked></td>
                  <td><input type="checkbox" value=""checked></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td><a href="#">Бендер Родрігес</a></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value="" checked></td>
                  <td><input type="checkbox" value="" checked></td>
                  <td><input type="checkbox" value="" checked></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value="" checked></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value="" checked></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                </tr>
              </tbody>
            </table>
{% endblock %}

{% block pagination %}{% endblock %}