{% extends "students/base_elements.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block meta_title %}
  {% trans "Students" %}
{% endblock %}
{% block title %}
  {% trans "Students List" %}
{% endblock %}
{% block action_btn %}
<a href="{% url "students_add" %}" class="btn btn-primary add-btn">
    {% trans "New student" %}
</a>
{% endblock %}
{% block content %}
<table class="table table-hover table-striped">
  {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
  <thead>
    <tr>
      <th>{% trans "#" %}</th>
      <th>{% trans "Photo" %}</th>
      <th><a href="{% if not reverse %}?order_by=last_name&amp;reverse=1{% else %}?order_by=last_name{% endif %}">
            {% trans "Last name" %}
            {% if not order_by and not reverse %}&uarr;
            {% elif order_by == 'last_name' and reverse != '1' %}&uarr;
            {% elif order_by == 'last_name' and reverse == '1' %}&darr;
            {% endif %}
          </a>
      </th>
      <th><a href="?order_by=first_name{% if order_by == 'first_name' and reverse != '1' %}&amp;reverse=1{% endif %}">
            {% trans "First name" %}
            {% if order_by == 'first_name' and reverse != '1' %}&uarr;
            {% elif order_by == 'first_name' and reverse == '1' %}&darr;
            {% endif %}
          </a>
      </th>
      <th><a href="?order_by=ticket{% if order_by == 'ticket' and reverse != '1' %}&amp;reverse=1{% endif %}">
            {% trans "Ticket #" %}
            {% if order_by == 'ticket' and reverse != '1' %}&uarr;
            {% elif order_by == 'ticket' and reverse == '1' %}&darr;
            {% endif %}
          </a>
      </th>
      <th>{% trans "Actions" %}</th>
    </tr>
  </thead>
  {% endwith %}
  <tbody>
  {% for student in students %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>
      {% if student.photo %}
        <img width="30" height="30" class="img-circle" src="{{ student.photo.url }}" />
      {% else %}
        <img width="30" height="30" class="img-circle" src="{% static "img/default_user.png" %}" />
      {% endif %}
      </td>
      <td><a href="{% url "students_edit" student.id %}" class="edit-form-link" title="{% trans "Edit" %}">{{ student.last_name }}</a></td>
      <td><a href="{% url "students_edit" student.id %}" class="edit-form-link" title="{% trans "Edit" %}">{{ student.first_name }}</a></td>
      <td>{{ student.ticket }}</td>
      <td>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">{% trans "Action" %}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "students_edit" student.id %}" class="edit-form-link">{% trans "Edit" %}</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "journal" student.id %}">{% trans "Journal" %}</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "students_delete" student.id %}">{% trans "Delete" %}</a></li>
          </ul>
        </div>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% with object_list=students %}
{% include "students/pagination.html" %}
{% endwith %}
{% endblock %}