/* Global styles */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.alert {
    margin-top: 10px;
}

#footer {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

#group-selector {
    margin: 10px 0;
}

#group-selector select {
    margin: 0;
    width: 85%;
    background-color: #fff;
    border: 1px solid #ccc;
    height: 30px;
    line-height: 30px;
    color: #555;
}

/* Custom styles */

.add-btn {
    margin-top: 18px;
}

.month-flipper {
    text-align: center;
    margin: 10px 0;
}

#btn-block .col-xs-8 {
    background-color: #f2f2f2;
    border-top: 1px solid #ddd;
    margin-top: 10px;
}

.col-xs-8 button {
    margin: 10px 10px 10px 26%;
}
